<div class="modal-dialog modal-md" role="document">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title">Editar Producto Terminado</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="updatePTForm" action="{% url 'produ_app:update_pt_generico' object.pk %}" method="POST" class="form-control bg-dark text-white" style="--bs-bg-opacity: .5;">
            {%csrf_token%}

            {% if form.errors %}
                <div class="alert alert-info">
                    {{form.errors.pt_nombre.0}}
                </div>
            {% endif %}

            <div class="mx-4 my-2 row">
                
                <div class="mb-3  col-12">
                    <label for="id_PT_prodNombre" class="form-label">Producto Terminado:</label>
                    {{form.pt_nombre}}   
                </div>

                <div class="mb-3  col-12">
                    <label for="id_PT_prodNombre" class="form-label">Materia Prima Utilizada:</label>
                    {{form.materiaPrimaUsada}}   
                </div>
                <div class="mb-3  col-12">
                    <label for="id_PT_prodNombre" class="form-label">Tipo de Procesamiento:</label>
                    {{form.pt_tipo}}   
                </div>
              <div class="row">
                    <div class="col d-flex justify-content-center">
                        <button class="btn btn-success" type="submit">Guardar</button>
                        &nbsp;
                        <a href="{% url 'produ_app:list_pt_generico' %}" type="button" class="btn btn-secondary">Cancelar</a>
                    </div>
                </div>
            </div>
            
        </form>
        </div>
    
    </div>
</div>


<script>
    $(document).ready(function () {
            $('#EditInsumosForm').submit(function (event) {
                event.preventDefault(); // Evita la redirección predeterminada

                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function (data) {
                        // Verifica la respuesta y actualiza el contenido del modal
                        $('#edit_insumos').html(data);
                    },
                    error: function (xhr, status, error) {
                        // Maneja errores de Ajax, si es necesario
                    }
                });
            });
        });
</script>