<!-- 
Titulo: Modal que muestra formulario para actualización
de datos de proveedores registrados en el sistema
Fecha Elaboración: 16/02/2024   
Última actualización: 06/05/2024
-->

<!-- Estructura del modal para añadir un proveedor -->
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-dark text-white">
        <!-- Encabezado del modal -->
        <div class="modal-header">
            <h5 class="modal-title">Añadir Proveedor</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <!-- Cuerpo del modal -->
        <div class="modal-body">
            <!-- Formulario para añadir un proveedor -->
            <form id="provAddForm" action="{% url 'proveedores_app:add_proveedores' %}" method="POST" class="form-control bg-dark text-white" style="--bs-bg-opacity: .5;">
                {% csrf_token %}
                
                <!-- Mostrar mensajes de error si existen -->
                {% if form.errors %}
                    <div class="alert alert-info">    
                        {{ form.errors.prov_nombre.0 }}
                        {{ form.errors.prov_telefono.0 }}
                    </div>
                {% endif %}

                <div class="mx-4 my-2 row">
                    <!-- Campo para el NIT del proveedor -->
                    <div class="mb-3 col-12">
                        <label for="id_nit" class="form-label">NIT:</label>
                        {{ form.nit }}
                    </div>
                    
                    <!-- Campo para la razón social del proveedor -->
                    <div class="mb-3 col-12">
                        <label for="id_prov_nombre" class="form-label">Razón Social:</label>
                        {{ form.prov_nombre }}
                    </div>

                    <!-- Campo para el teléfono del proveedor -->
                    <div class="mb-3 col-12">
                        <label for="id_prov_telefono" class="form-label">Teléfono:</label>
                        <br>
                        {{ form.prov_telefono }}
                    </div>

                    <!-- Botones para guardar o cancelar la acción -->
                    <div class="d-flex justify-content-center">
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-success" type="submit">Guardar</button>
                                &nbsp;
                                <a href="{% url 'proveedores_app:list_proveedores' %}" type="button" class="btn btn-secondary">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>    
    </div>
</div>

<!-- Script para manejar el envío del formulario mediante AJAX -->
<script>
    $(document).ready(function () {
        // Cuando el formulario se envíe
        $('#provAddForm').submit(function (event) {
            event.preventDefault(); // Evita la redirección predeterminada

            // Realiza la solicitud AJAX
            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function (data) {
                    // Verifica la respuesta y actualiza el contenido del modal
                    $('#add_proveedor').html(data);
                },
                error: function (xhr, status, error) {
                    // Maneja errores de Ajax, si es necesario
                }
            });
        });
    });
</script>
