<!-- 
Titulo: Modal que muestra formulario para actualización
de datos de proveedores registrados en el sistema
Fecha Elaboración: 16/02/2024   
Última actualización: 06/05/2024
-->

<!-- Estructura del modal para añadir un proveedor -->
{% extends "base.html" %}

{% block title %} 
Agregar Proveedor
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1 style="color: #fff;">Agregar Proveedor</h1>
        </div>
    </div>

    <div class="mt-4 row justify-content-center">
        <div class="col-md-7">
            <form action="" method="POST" class="form-control bg-dark text-white" style="--bs-bg-opacity: .5;">
               {% csrf_token %}
               <!-- Mostrar mensajes de error si existen -->
               {% if form.errors %}
                <div class="alert alert-info">    
                    {{ form.errors.prov_nombre.0 }}
                    {{ form.errors.prov_telefono.0 }}
                </div>
                {% endif %}

                <div class="mx-4 my-2 row">
                    <!-- Campo para el NIT del proveedor -->
                    <div class="mb-3 col-12">
                        <label for="id_nit" class="form-label">NIT:</label>
                        {{ form.nit }}
                    </div>
                    
                    <!-- Campo para la razón social del proveedor -->
                    <div class="mb-3 col-12">
                        <label for="id_prov_nombre" class="form-label">Razón Social:</label>
                        {{ form.prov_nombre }}
                    </div>

                    <!-- Campo para el teléfono del proveedor -->
                    <div class="mb-3 col-12">
                        <label for="id_prov_telefono" class="form-label">Teléfono:</label>
                        <br>
                        {{ form.prov_telefono }}
                    </div>

                    <!-- Botones para guardar o cancelar la acción -->
                    <div class="d-flex justify-content-center">
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-success" type="submit">Guardar</button>
                                &nbsp;
                                <a href="{% url 'proveedores_app:list_proveedores' %}" type="button" class="btn btn-secondary">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block extrajs %}

{% endblock %}


