<!-- 
Titulo: Modal que verifica acción de borrado de datos de proveedores registrados en el sistema
Fecha Elaboración: 16/02/2024   
Última actualización: 13/04/2024
-->
<!-- Estructura del modal para borrar un proveedor -->

<div class="modal-dialog modal-md" role="document">
  <div class="modal-content bg-dark text-white">
      <!-- Encabezado del modal -->
      <div class="modal-header">
          <h5 class="modal-title">Borrar Proveedor</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <!-- Cuerpo del modal -->
      <div class="modal-body">
          <!-- Formulario para confirmar la eliminación del proveedor -->
          <form action="{% url 'proveedores_app:delete_proveedores' object.prov_id %}" method="POST" class="form-control bg-dark text-white" style="--bs-bg-opacity: .5;">
              {% csrf_token %}
              
              <!-- Mensaje de confirmación de eliminación -->
              <div class="row">
                  <div class="col">
                      <h4 style="color: red; font-weight: bolder;">¿Desea borrar Proveedor: {{object.prov_nombre}}?</h4>
                      <p class="text-center"><i class="fa-solid fa-circle-info"></i> Esta acción será permanente</p>
                  </div>
              </div>

              <!-- Botones para confirmar o cancelar la acción -->
              <div class="row">
                  <div class="col text-center d-flex justify-content-center">
                      <button class="m-2 btn btn-danger" type="submit">Eliminar</button>
                      <button type="button" class="m-2 btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>