{% load static %}
<div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title">Añadir Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="userAddForm" action="{% url 'users_app:add_user' %}" method="POST" class="form-control bg-dark text-white" style="--bs-bg-opacity: .5;">
            {%csrf_token%}

            {% if form.errors %}
                <div class="alert alert-info">
                    {{form.errors.name.0}}
                    {{form.errors.last_name.0}}
                    {{form.errors.username.0}}
                    {{form.errors.password.0}}
                    {{form.errors.password2.0}}
                </div>
            {% endif %}

            <div class="mx-4 my-2 row">
                
                <div class="mb-3 col-12">
                    <label for="id_name" class="form-label">Nombres: </label>
                    {{form.name}}   
                </div>
          
           
                <div class="mb-3 col-12">
                    <label for="id_last_name" class="form-label">Apellidos:</label>
                    {{form.last_name}}   
                </div>

                <div class="mb-3 col-12">
                    <label for="id_username" class="form-label">Username: </label>
                    {{form.username}}
                </div>

                <div class="mb-3 col-12">
                    <label for="id_password" class="form-label">Contraseña: </label>
                    {{form.password}}
                </div>
    
                <div class="mb-3 col-12">
                    <label for="id_password2" class="form-label">Repetir Contraseña: </label>
                    {{form.password2}}
                </div>

                <div class="row">
                    <div class="col">
                        <label for="id_is_admin" class="form-label">Administrador:</label>
                        {{form.is_admin}}  
                    </div>
                </div>

                
                <div class="d-flex justify-content-center">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-success" type="submit">Guardar</button>
                            &nbsp;
                            <a href="{% url 'users_app:list_user' %}" type="button" class="btn btn-secondary">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </form>
        </div>
    
    </div>
</div>

<script>
    $(document).ready(function () {
            $('#userAddForm').submit(function (event) {
                event.preventDefault(); // Evita la redirección predeterminada

                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function (data) {
                        // Verifica la respuesta y actualiza el contenido del modal
                        $('#add_usuarios').html(data);
                    },
                    error: function (xhr, status, error) {
                        // Maneja errores de Ajax, si es necesario
                    }
                });
            });
        });

</script>
    