<!-- 
    Este es un modal para mostrar un formulario encargado de actualizar datos del usuario.
    Creado por Vivian Carolina Hincapie Escobar el 02/02/2024.
    Última actualización el 15/05/2024.
-->

{% extends "base.html" %}

{% block title %} 
Actualizar Usuario
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1 style="color: #fff;">Actualizar Usuario</h1>
        </div>
    </div>

    <div class="mt-4 row justify-content-center">
        <div class="col-md-7">
            <form action="" method="POST" class="form-control bg-dark text-white" style="--bs-bg-opacity: .5;">
               {% csrf_token %}
               <!-- Muestra mensajes de error si existen -->
               {% if form.errors %}
                   <div class="alert alert-info">
                       {{form.errors.name.0}}
                       {{form.errors.last_name.0}}
                       {{form.errors.username.0}}
                       {{form.errors.password.0}}
                       {{form.errors.password2.0}}
                   </div>
               {% endif %}
               <div class="mx-4 my-2 row">
                   <!-- Campos del formulario -->
                   <div class="mb-3 col-12">
                       <label for="id_name" class="form-label">Nombres: </label>
                       {{form.name}}   
                   </div>
                   <div class="mb-3 col-12">
                       <label for="id_last_name" class="form-label">Apellidos:</label>
                       {{form.last_name}}   
                   </div>
                   <div class="mb-3 col-12">
                       <label for="id_username" class="form-label">Username: </label>
                       {{form.username}}
                   </div>
                   <div class="mb-3 col-12">
                       <label for="id_password" class="form-label">Contraseña: </label>
                       {{form.password}}
                   </div>
                   <div class="mb-3 col-12">
                       <label for="id_password2" class="form-label">Repetir Contraseña: </label>
                       {{form.password2}}
                   </div>
                   <div class="row">
                       <div class="col">
                           <label for="id_is_admin" class="form-label">Administrador:</label>
                           {{form.is_admin}}  
                       </div>
                   </div>
                   <!-- Botones para guardar o cancelar -->
                   <div class="d-flex justify-content-center">
                       <div class="row">
                           <div class="col">
                               <button class="btn btn-success" type="submit">Guardar</button>
                               &nbsp;
                               <a href="{% url 'users_app:list_user' %}" type="button" class="btn btn-secondary">Cancelar</a>
                           </div>
                       </div>
                   </div>
               </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block extrajs %}

{% endblock %}


