<div class="modal-dialog modal-md" role="document">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title">Editar Materia Prima</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <form id="addMpForm" action="{% url 'mp_app:update_mp_generica' object.pk %}" method="POST" class="form-control bg-dark text-white" style="--bs-bg-opacity: .5;">
                {% csrf_token %}
                <div class="row">
                    <div class="mb-3 col-md-6 col-12">
                        <label for="id_mp_nombre" class="form-label">Materia Prima:</label>
                        {{form.mp_nombre}}   
                    </div>
                    <div class="mb-3 col-md-6 col-12">
                        <label for="id_mp_nombre" class="form-label">Tipo:</label>
                        {{form.mp_tipo}}   
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <button class="btn btn-success" type="submit">Agregar</button>
                        &nbsp;
                        <a href="{% url 'mp_app:listaGenerica_mp' %}" type="button" class="btn btn-danger">Cancelar</a>
                    </div>
                </div>
                
            </form>
        </div>
    
    </div>
</div>

<!---Muestra los errores dentro del modal y evita el redireccionamiento cuando hay algun error-->
<!-- <script>
    $(document).ready(function () {
    $('#addMpForm').submit(function (event) {
        event.preventDefault(); // Evita la redirección predeterminada

        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: $(this).serialize(),
            async: true, // Establece la solicitud como asíncrona
            success: function (data) {
                // Verifica la respuesta y actualiza el contenido del modal
                $('#add_mp').html(data);
                $('#add_mp').modal('hide');

            },
            error: function (xhr, status, error) {
                // Maneja errores de Ajax, si es necesario
            }
        });
    });
});
</script> -->