{% extends 'base.html' %}
{% load static %}


{% block title %}
    Tablas de Auditorias
{% endblock title %}
    

{% block content %}
<div class="d-flex justify-content-center">
    <div class="mt-4 row">
        <div class="col-12">
            <h4 style="color: #fff;">Tablas de Auditorias</h4>
        </div>   
    </div>   
</div>

<div class="m-2 d-flex justify-content-center">
    <div class="row">

        <!--Tarjeta de Usuarios-->
       <div class="col-md-3 col">
         <div class="card text-center bg-dark border-dark" style="width: 11rem;">
           <img src="{% static 'img/users.png' %}" class="card-img-top" alt="...">
           <div class="card-body">
               <a href="{% url 'users_app:user_audit' %}" class="btn btn-warning">Usuarios</a>
           </div>    
         </div>
       </div>
 
       <!--Tarjeta de Pedidos-->
       <div class="col-md-3 col">
           <div class="card text-center bg-dark border-dark" style="width: 11rem;">
               <img src="{% static 'img/pedidos.png' %}" class="card-img-top" alt="...">
               <div class="card-body">
                   <a href="{% url 'pedidos_app:pedidos_audit' %}" class="btn btn-warning">Pedidos</a>
               </div> 
         </div>
       </div>

       <!--Tarjeta de Proveedores-->
       <div class="col-md-3 col">
         <div class="card text-center bg-dark border-dark" style="width: 11rem;">
           <img src="{% static 'img/proveedor.png' %}" class="card-img-top" alt="...">
           <div class="card-body">
               <a href="{% url 'proveedores_app:proveedor_audit' %}" class="btn btn-warning">Proveedores</a>
           </div>    
         </div>
       </div>

       <!--Tarjeta de Facturas-->
       <div class="col-md-3 col">
        <div class="card text-center bg-dark border-dark" style="width: 11rem;">
          <img src="{% static 'img/factura.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
              <a href="{% url 'facturas_app:factura_audit' %}" class="btn btn-warning">Facturas</a>
          </div>    
        </div>
      </div>

    </div>
</div>

<div class="m-2 d-flex justify-content-center">
    <div class="row">
        <!--Tarjeta de Materia Prima-->
       <div class="col-md-4 col">
         <div class="card text-center bg-dark border-dark" style="width: 11rem;">
           <img src="{% static 'img/materiap.png' %}" class="card-img-top" alt="...">
           <div class="card-body">
               <a href="{% url 'mp_app:mp_audit' %}" class="btn btn-warning">Materia Prima</a>
           </div>    
         </div>
       </div>
       
       <!--Tarjeta de Producto Terminado-->
       <div class="col-md-4 col">
           <div class="card text-center bg-dark border-dark" style="width: 11rem;">
               <img src="{% static 'img/productoterminado.png' %}" class="card-img-top" alt="...">
               <div class="card-body">
                   <a href="{% url 'produ_app:producto_audit' %}" class="btn btn-warning">Producto Terminado</a>
               </div> 
         </div>
       </div>
       
       <!--Tarjeta de Implementos de Trabajo-->
       <div class="col-md-4 col">
         <div class="card text-center bg-dark border-dark" style="width: 11rem;">
           <img src="{% static 'img/implementos.png' %}" class="card-img-top" alt="...">
           <div class="card-body">
               <a href="{% url 'insumos_app:insumos_audit' %}" class="btn btn-warning">Insumos</a>
           </div>    
         </div>
       </div>

    </div>
</div> 
{% endblock content %}
    