<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title">Editar Coccion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="coccEditForm" action="{% url 'procesamientos_app:edit_coccion' object.id_coccion %}" method="POST" class="form-control bg-dark text-white" style="--bs-bg-opacity: .5;">
            {% csrf_token %}
            {% if form.errors  %}
                <div class="alert alert-info">    
                    {{form.errors.cocc_nombre.0}}
                    {{form.errors.cocc_cantidad.0}}
                    {{form.errors.cocc_pesoMPposproceso.0}}
                    {{form.errors.cocc_merma.0}}
                    {{form.errors.cocc_tiempoCoccion.0}}
                    {{form.errors.cocc_temperaturafinal.0}}
                    {{form.errors.cocc_check.0}}
                </div>
            {% endif %}

            <div class="mx-4 my-2 row">

                <div class="d-flex justify-content-center">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-success" type="submit">Guardar</button>
                            &nbsp;
                            <a href="{% url 'procesamientos_app:coccion' %}" type="button" class="btn btn-secondary">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>
          </form>
        </div>    
    </div>
</div>

<script>
    $(document).ready(function () {
            $('#coccEditForm').submit(function (event) {
                event.preventDefault(); // Evita la redirección predeterminada

                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function (data) {
                        // Verifica la respuesta y actualiza el contenido del modal
                        $('#edit_coccion').html(data);
                    },
                    error: function (xhr, status, error) {
                        // Maneja errores de Ajax, si es necesario
                    }
                });
            });
        });
</script>