<!-- 
Titulo: Formulario de Empaque y Vacío de Producto Terminado para procesamiento
Fecha Elaboracion: 28/05/2024 
Elaborado por: Vivian Carolina Hincapie Escobar 

Última actualización: 02/06/2024
 -->

{% extends 'base.html' %}

{% block title %}
     Empaque y Vacío
{% endblock title %}
 
{% block content %}
 <div class="container">
     <div class="row">
         <div class="col d-flex justify-content-center">
             <h3 style="color: #FFFF; font-weight: bolder;">EMPAQUE Y VACÍO</h3>
         </div>
     </div>
     <div class="row">
         <div class="col d-flex justify-content-center">
             <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                 <ol class="breadcrumb">
                   <li class="breadcrumb-item" style="text-decoration: none; color: #FFFF;">Procesamiento</li>
                   <li class="breadcrumb-item" style="text-decoration: none; color: #FFFF;">Características Organolépticas</li>
                   <li class="breadcrumb-item active" aria-current="page"><a href="#" style="text-decoration: none; color: rgb(236, 225, 47, .75); font-weight: bolder;">Empaque y Vacio</a></li>
                 </ol>
               </nav>
         </div>
     </div>
 
     <!-- Formulario de Empaque y Vacío -->
     <div class="d-flex justify-content-center">
         <div class="row">
             <div class="col">
                 <form id="empaqueForm" action="" method="post" class="form-control bg-dark text-white" style="--bs-bg-opacity: .5;">
                     {% csrf_token %}
                     <h5 class="text-center">Producto: {{producto.pt_nombre}}</h5>
                     <h6 class="text-center">Lote: {{producto.pt_lote}}</h6>
                     
                     <!-- Cantidad Preparada -->
                     <div class="mt-3 row">
                         <legend class="text-center">Cantidad Preparada</legend>
                         <label for="cantidad_empaque" class="form-label">Cantidad de bolsas X 500g:</label>
                         <div class="input-group">
                             <input type="number" class="form-control" name="cantidad_empaque" id="cantidad_empaque" required>
                             <span class="input-group-text">Unds</span>
                         </div>
                         <label for="peso_empaque" class="form-label">Peso en Kg todo el producto preparado:</label>
                         <div class="input-group">
                             <input type="number" class="form-control" name="peso_empaque" id="peso_empaque" required>
                             <span class="input-group-text">Kg</span>
                         </div>
                     </div>
 
                     <!-- Vacío -->
                     <div class="mt-3 row">
                         <legend class="text-center">Vacío</legend>
                         <label for="bolsas_rechazadas" class="form-label">Cantidad de bolsas rechazadas: </label>
                         <div class="input-group">
                             <input type="number" class="form-control" name="bolsas_rechazadas" id="bolsas_rechazadas" required>
                             <span class="input-group-text">Unds</span>
                         </div>
                         <label for="bolsas_liberadas" class="form-label">Cantidad de bolsas liberadas: </label>
                         <div class="input-group">
                             <input type="number" class="form-control" name="bolsas_liberadas" id="bolsas_liberadas" required>
                             <span class="input-group-text">Unds</span>
                         </div>
                     </div>
 
                     <!-- Botón de Guardar -->
                     <div class="mt-2 row">
                         <div class="col d-flex justify-content-center">
                             <button type="button" class="btn btn-success" onclick="validateAndSubmit()">Guardar</button>
                         </div>
                     </div>
 
                 </form>
             </div>
         </div>
     </div>
 </div>
{% endblock content %}
 
{% block extrajs %}
 <script>
     // Función que se ejecuta cuando la página se carga completamente.
     window.onload = function() {
         // Verifica si el navegador soporta el método replaceState.
         if (window.history.replaceState) {
             // Reemplaza la URL actual en el historial del navegador con la misma URL.
             // Esto evita que el formulario se vuelva a enviar si el usuario actualiza la página.
             window.history.replaceState(null, null, window.location.href);
         }
     }
 
    function validateAndSubmit() {
        // Obtiene la cantidad de bolsas empaquetadas.
        let cantidadEmpaque = parseFloat(document.getElementById('cantidad_empaque').value) || 0;
        // Obtiene la cantidad de bolsas rechazadas.
        let bolsasRechazadas = parseFloat(document.getElementById('bolsas_rechazadas').value) || 0;
        // Obtiene la cantidad de bolsas liberadas.
        let bolsasLiberadas = parseFloat(document.getElementById('bolsas_liberadas').value) || 0;

        // Verifica si la cantidad de bolsas empaquetadas es igual a la suma de las bolsas rechazadas y liberadas.
        if (cantidadEmpaque !== (bolsasRechazadas + bolsasLiberadas)) {
            // Muestra una alerta si las cantidades no coinciden.
            Swal.fire({
                title: 'Error',
                text: 'La cantidad de bolsas x 500g debe ser igual a la sumatoria de las bolsas rechazadas y liberadas.',
                icon: 'error',
                background: '#343a40',  // Fondo oscuro
                color: '#ffffff'  // Texto blanco
            });
            return false; // Evita el envío del formulario.
        }

        // Solicita confirmación al usuario antes de enviar el formulario.
        Swal.fire({
            title: 'Confirmar',
            text: '¿Está seguro de que desea guardar el formulario?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sí, guardar',
            cancelButtonText: 'Cancelar',
            background: '#343a40',  // Fondo oscuro
            color: '#ffffff'  // Texto blanco
        }).then((result) => {
            if (result.isConfirmed) {
                // Envía el formulario si el usuario confirma.
                document.getElementById('empaqueForm').submit();
            }
        });
    }

 </script>
{% endblock %}
 