<div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title">Editar Empaque</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'produ_app:empaque_update' object.id %}" id="EmpaqueUpdateForm" class="form-control bg-dark text-white" style="--bs-bg-opacity: .5;">
          {%csrf_token%}
          {%csrf_token%}

          <div class="mx-4 my-2 row">
                      
          <div class="mb-3 col-12 text-center">
              <label for="id_pt_nombre" class="form-label">Lote Producto Terminado:</label>
              <div class="form-control"><strong>{{ producto_terminado }} - {{ producto_terminado_nombre}}</strong></div>
          </div>
          
          <div class="mb-3 col-12 text-center">
            <label for="id_pt_nombre" class="form-label">Fecha Preparación:</label>
            <div class="form-control"><strong>{{fecha_prepraracion}}</strong></div>
          </div>

            <div class="row">
              <div class="col-12">
                  <label for="id_emp_pesoKg" class="form-label">Peso Empaque: </label>
              </div>
              <div class="input-group mb-3 col-12">
                  {{form.emp_pesoKg}}
                  <span class="input-group-text">Kg</span>
              </div>
          </div>

            <div class="mb-3 col-12">
                <label for="id_emp_cantidadBolsas" class="form-label">Cantidad Bolsas Empacadas:</label>
                {{form.emp_cantidadBolsas}}
            </div>       

            <div class="row">
                <div class="col d-flex justify-content-center">
                  <button type="submit" class="m-1 btn btn-success">Guardar</button>
                  &nbsp;
                  <a type="button" class="m-1 btn btn-secondary" href="{% url 'produ_app:list_produ' %}">Cancelar</a>
                </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>