<div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title">Editar Características Organolepticas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="CaracteristicasPTUpdateForm" method="POST" action="{% url 'produ_app:updatecaracteristicas_pt' object.pk %}" class="form-control bg-dark text-white" style="--bs-bg-opacity: .5;">
          {%csrf_token%}
              <div class="mx-4 my-2 row">
                  
                  <div class="mb-3 col-12 text-center">
                      <label for="id_pt_nombre" class="form-label">Lote Producto Terminado:</label>
                      <div class="form-control"><strong>{{ producto_terminado }} - {{ producto_terminado_nombre}}</strong></div>
                  </div>
                  
                  <div class="mb-3 col-12 text-center">
                    <label for="id_pt_nombre" class="form-label">Fecha Preparación:</label>
                    <div class="form-control"><strong>{{fecha_preparacion}}</strong></div>
                  </div>
             
                  <div class="mb-3 col-12 text-center">
                      <label for="id_pt_olor" class="form-label">Olor:</label>
                      {{form.olor}}   
                  </div>
  
                  <div class="mb-3 col-12 text-center">
                      <label for="id_pt_sabor" class="form-label">Sabor: </label>
                      {{form.sabor}}  
                  </div>
  
                  <div class="mb-3 col-12 text-center">
                      <label for="id_pt_textura" class="form-label">Textura: </label>
                      {{form.textura}}
                  </div>
  
                  <div class="mb-3 col-12 text-center">
                    <label for="id_pt_color" class="form-label">Color: </label>
                    {{form.color}}
                  </div>

                 <div class="mb-3 col-12">
                  <label for="id_pt_observaciones" class="form-label">Observaciones: </label>
                  {{form.observaciones}}
                 </div>
  
                  <div class="col text-center">
                      <button class="btn btn-success" type="submit">Guardar</button>
                      &nbsp;
                      <a href="{% url 'produ_app:list_produ' %}" type="button" class="btn btn-secondary">Cancelar</a>
                  </div>
              </div>
              
          </form>
        </div>
    
    </div>
  </div>
  